<!DOCTYPE html>
<html>

<head>
    <title>Crime Report</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather!</p>

        <form>
            <input type="text" placeholder="Location" name="location">
            <input type="text" placeholder="Incident" name="incident">
            <button>Report</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}

    <script src="C:\Users\varma\Documents\Node\LIH-server\src\app.js"></script>
</body>

</html>